%%-*- mode: erlang -*-
{cover_enabled, true}.
{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{project_plugins, [
    erlfmt
]}.

{deps, [
    {lager, "3.9.2"},
    folsom,
    cowboy,
    jsx,
    dns_erlang,
    erldns
]}.

{erlfmt, [
    write,
    {print_width, 140}
]}.

{dialyzer, [
   {warnings, [no_unknown]}
]}.
