%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {i, "./deps/dns/include"},
            {i, "./deps/erldns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "HEAD"}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}},
        {dns, ".*", {git, "git://github.com/aetrion/dns_erlang.git", "HEAD"}},
        {erldns, ".*", {git, "git://github.com/aetrion/erl-dns.git", "feature/dnssec-2"}}
       ]}.

